
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Narail || Responsive HTML 5 Template</title> 

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-16x16.png" sizes="16x16">

</head>
<body>

<div class="boxed_wrapper">



<header class="top-bar">
    <div class="container">
        
    </div>
</header>
<section class="news-section padd-2">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!--News Style One-->
            <div class="news-style-one">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/blog/1.jpg" alt="" />
                        <div class="post-time">22 Jan, 2018</div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                        <div class="text">
                            Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                        </div>
                        <div class="link-btn2 center">
                            <a href="~/blog-details.html" class="btn-style-two">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="news-style-one">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/blog/2.jpg" alt="" />
                        <div class="post-time">22 Jan, 2018</div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                        <div class="text">
                            Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                        </div>
                        <div class="link-btn2 center">
                            <a href="blog-details.html" class="btn-style-two">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!--News Style One-->
            <div class="news-style-one">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/blog/3.jpg" alt="" />
                        <div class="post-time">22 Jan, 2018</div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                        <div class="text">
                            Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                        </div>
                        <div class="link-btn2 center">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!--News Style One-->
            <div class="news-style-one">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/blog/4.jpg" alt="" />
                        <div class="post-time">22 Jan, 2018</div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                        <div class="text">
                            Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                        </div>
                        <div class="link-btn2 center">
                            <a href="blog-details.html" class="btn-style-two">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!--News Style One-->
            <div class="news-style-one">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/blog/5.jpg" alt="" />
                        <div class="post-time">22 Jan, 2018</div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                        <div class="text">
                            Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                        </div>
                        <div class="link-btn2 center">
                            <a href="blog-details.html" class="btn-style-two">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!--News Style One-->
            <div class="news-style-one">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/blog/6.jpg" alt="" />
                        <div class="post-time">22 Jan, 2018</div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                        <div class="text">
                            Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                        </div>
                        <div class="link-btn2 center">
                            <a href="blog-details.html" class="btn-style-two">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <ul class="page_pagination style-2 center">
        <li><a href="#" class="tran3s"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        <li><a href="#" class="active tran3s">1</a></li>
        <li><a href="#" class="tran3s">2</a></li>
        <li><a href="#" class="tran3s">3</a></li>
        <li><a href="#" class="tran3s"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>

</section>

<!--Map Section-->
<div class="map-section">
    <div class="map-outer">
        <!--Map Canvas-->
        <div class="map-canvas"
             data-zoom="15"
             data-lat="45.438412"
             data-lng="10.993389"
             data-icon-path="images/resource/map-marker.png"
             data-type="roadmap"
             data-hue="#ffc400"
             data-title="Envato"
             data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"
             style="height: 400px;">
        </div>

    </div>
</div>
<!--End Map Section-->
<!-- Scroll Top Button -->
<!-- pre loader  -->
<div class="preloader"></div>

<!-- jQuery js -->
<script src="~/js/jquery.js"></script>
<!-- bootstrap js -->
<script src="~/js/bootstrap.min.js"></script>
<!-- jQuery ui js -->
<script src="~/js/jquery-ui.js"></script>
<!-- owl carousel js -->
<script src="~/js/owl.carousel.min.js"></script>
<!-- jQuery validation -->
<script src="~/js/jquery.validate.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>
<script src="~/js/gmap.js"></script>
<!-- mixit up -->
<script src="~/js/wow.js"></script>
<script src="~/js/jquery.mixitup.min.js"></script>
<script src="~/js/jquery.fitvids.js"></script>
<script src="~/js/bootstrap-select.min.js"></script>

<!-- revolution slider js -->
<script src="~/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="~/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- fancy box -->
<script src="~/js/jquery.fancybox.pack.js"></script>
<script src="~/js/jquery.polyglot.language.switcher.js"></script>
<script src="~/js/nouislider.js"></script>
<script src="~/js/jquery.bootstrap-touchspin.js"></script>
<script src="~/js/SmoothScroll.js"></script>
<script src="~/js/jquery.appear.js"></script>
<script src="~/js/jquery.countTo.js"></script>
<script src="~/js/jquery.flexslider.js"></script>
<script src="~/js/imagezoom.js"></script>
<script id="map-script" src="~/js/default-map.js"></script>
<script src="~/js/custom.js"></script>
</div>
	
</body>
</html>
