<section class="our-team-area padd-2">
    <div class="container">
        <div class="sec-title center">
            <h2>Meet <span>our team</span></h2>
        </div>
        <div class="four-item-carousel owl-carousel owl-theme owl-nav-style-one owl-dot-none">

            <div class="single-team-member">
                <img src="images/team/1.jpg" alt="Awesome Image" />
                <div class="overlay">
                    <div class="box">
                        <div class="content">
                            <div class="speaker-infos clearfix">
                                <div class="left-info">
                                    <span>Robert Biswash</span>
                                    <h4>Founder / CEO</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-team-member">
                <img src="images/team/2.jpg" alt="Awesome Image" />
                <div class="overlay">
                    <div class="box">
                        <div class="content">
                            <div class="speaker-infos clearfix">
                                <div class="left-info">
                                    <span>Steven Dambu</span>
                                    <h4>Founder / CEO</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-team-member">
                <img src="images/team/3.jpg" alt="Awesome Image" />
                <div class="overlay">
                    <div class="box">
                        <div class="content">
                            <div class="speaker-infos clearfix">
                                <div class="left-info">
                                    <span>Albert Mozina</span>
                                    <h4>Founder / CEO</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-team-member">
                <img src="images/team/4.jpg" alt="Awesome Image" />
                <div class="overlay">
                    <div class="box">
                        <div class="content">
                            <div class="speaker-infos clearfix">
                                <div class="left-info">
                                    <span>Sanzida Akon</span>
                                    <h4>Founder / CEO</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>