<ul class="service-catergory">
    <li><a href="service.html">View All Services</a> <span class="view-all-icon fa fa-caret-right"></span></li>
    <li class="active"><a href="service-single.html">Market Research</a><span class="view-all-icon fa fa-caret-right"></span></li>
    <li><a href="service-single.html">Business Growth</a><span class="view-all-icon fa fa-caret-right"></span></li>
    <li><a href="service-single.html">Financial Advise</a><span class="view-all-icon fa fa-caret-right"></span></li>
    <li><a href="service-single.html">Sales & Trading</a><span class="view-all-icon fa fa-caret-right"></span></li>
    <li><a href="service-single.html">Consulting</a><span class="view-all-icon fa fa-caret-right"></span></li>
    <li><a href="service-single.html">Risk Management</a><span class="view-all-icon fa fa-caret-right"></span></li>

</ul>
<br>
<br>

<!-- Downloads -->
<div class="sidebar-widget downloads">
    <ul class="download-list">
        <li><a href="#"><span class="fa fa-file-pdf-o"></span> Download via . Pdf</a></li>
        <li><a href="#"><span class="fa fa-file-word-o"></span> Download via . Doc</a></li>
    </ul>
</div>
