<div class="row">
    <div class="col-md-6 col-sm-4 col-xs-12">
        <!--News Style One-->
        <div class="news-style-one">
            <div class="inner-box">
                <div class="image">
                    <img src="images/blog/1.jpg" alt="">
                    <div class="post-time">22 Jan, 2018</div>
                </div>
                <div class="lower-content">
                    <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                    <div class="text">
                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                    </div>
                    <div class="link-btn2 center">
                        <button class="btn-style-two">@Html.ActionLink("Devamını Oku", "BlogDetailContent", "Blog")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12">
        <!--News Style One-->
        <div class="news-style-one">
            <div class="inner-box">
                <div class="image">
                    <img src="images/blog/1.jpg" alt="">
                    <div class="post-time">22 Jan, 2018</div>
                </div>
                <div class="lower-content">
                    <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                    <div class="text">
                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                    </div>
                    <div class="link-btn2 center">
                        <button class="btn-style-two">@Html.ActionLink("Devamını Oku", "BlogDetail", "Blog")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12">
        <!--News Style One-->
        <div class="news-style-one">
            <div class="inner-box">
                <div class="image">
                    <img src="images/blog/1.jpg" alt="">
                    <div class="post-time">22 Jan, 2018</div>
                </div>
                <div class="lower-content">
                    <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                    <div class="text">
                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                    </div>
                    <div class="link-btn2 center">
                        <button class="btn-style-two">@Html.ActionLink("Devamını Oku", "BlogDetail", "Blog")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12">
        <!--News Style One-->
        <div class="news-style-one">
            <div class="inner-box">
                <div class="image">
                    <img src="images/blog/1.jpg" alt="">
                    <div class="post-time">22 Jan, 2018</div>
                </div>
                <div class="lower-content">
                    <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                    <div class="text">
                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                    </div>
                    <div class="link-btn2 center">
                        <button class="btn-style-two">@Html.ActionLink("Devamını Oku", "BlogDetail", "Blog")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>