
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="sidebar-page-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                
                @Html.Partial("BlogContent")

            </div>

            @Html.Partial("BlogSidebar")

        </div>
    </div>
</div>


