<section class="news-section padd-2">
    @Html.Partial("BlogGridContent")


    <br>
    <ul class="page_pagination style-2 center">
        <li><a href="#" class="tran3s"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        <li><a href="#" class="active tran3s">1</a></li>
        <li><a href="#" class="tran3s">2</a></li>
        <li><a href="#" class="tran3s">3</a></li>
        <li><a href="#" class="tran3s"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>

</section>