
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="img-box">
        <img src="images/project/10.jpg" alt="">
    </div>
    <br><br>
    <div class="inner-title">
        <h3>Project Analysis</h3>
    </div>
    <div class="text">
        <p>This group would somehow form a family that's the way the Love Boat promises something for everyone that this matt group would somehow form a the brady bunch that this group they call him Flipper Flipper faster than lightning no one you see is smarter than he maybe you and me think of me once in a while.</p>
        <br>
        <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.</p>
    </div><br><br>

    <!--video-box-->
    <div class="video-image-box">
        <figure class="image">
            <img src="images/project/spv.jpg" alt="">
            <a href="https://www.youtube.com/watch?v=G0dzLanYW1E&amp;t=28s" class="overlay-link lightbox-image video-fancybox"><span class="fa fa-play"></span></a>
        </figure>
    </div> <br><br>

    <div class="project-result">
        <div class="inner-title">
            <h3>Projects Result</h3>
        </div>

        <div class="text">
            <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.</p>
        </div><br><br>


        <figure class="image-box">
            <img src="images/project/spr.jpg" alt="">
        </figure><br><br>

        <div class="text">
            <p>Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.</p>
        </div>
    </div>
</div>
